NEXT_PUBLIC_SUPABASE_URL=https://rcxtgajofdsjwuaupvea.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjeHRnYWpvZmRzand1YXVwdmVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxNzA3OTcsImV4cCI6MjA5Nzc0Njc5N30.Giv46iZty1F9PdvqvFzz5YiJv8LzX-y8KHhfn5tBYaY
ANTHROPIC_API_KEY=